<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление пользователями</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Управление пользователями</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}"> Главная страница </a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1 style="margin: 20px 50px 35px 450px"> Пользователи </h1>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th>Полное имя</th>
            <th>Имя пользователя</th>
            <th>Роли</th>
            <th>Дата регистрации</th>
            <th>История игры</th>
            <th>Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "user: ${users}">
            <td th:text = "${user.fullName}"></td>
            <td th:text = "${user.username}"></td>
            <th:block th:each="role: ${user.roles}">
                <th:block th:if="${role.name.endsWith('USER')}">
                    <td  th:text = "Игрок"></td>
                </th:block>
                <th:block th:if="${role.name.endsWith('ADMIN')}">
                    <td  th:text = "Администратор"></td>
                </th:block>
            </th:block>
            <td th:text = "${user.createDate.toLocalDate()}"></td>
            <td>
                <a th:href = "@{/session/sessions/{id}(id=${user.id})}"
                   class = "btn btn-primary">Посмотреть результаты</a></td>
            <td>
                <th:block th:each="role: ${user.roles}">
                <th:block th:if="${role.name.endsWith('USER')}">
                    <a th:href = "@{/users/{id}(id=${user.id})}" class="btn btn-danger" >Удалить пользователя</a>
                </th:block>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>